.{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.all-content{
    background: #f7f5f2;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #d18755;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width:20px;
}
#navbar{
    background-color: #d18755;
}
#logo h1{
    border-radius: 10px;
    width: 150px;
    margin-left: 35px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: white;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(img7.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding-top: 40px;
    margin-left: 30px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 130px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #d18755;
    color: white;
}
#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    padding-top: 50px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: black;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #d18755;
}
#about .card{
    border-radius: 10px;
}
#about .card-img{
    border-radius: 10px;
}
#about-btn{
    width: 100px;
    height: 50px;
    background: transparent;
    border: 2px solid #d18755;
    color: #d18755;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn:hover{
    background-color: #d18755;
    color: white;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}
#top-cards{
    width: 100%;
   /*height: 60vh;*/
    background: #f7f5f2;
}
.heading2{
    color: black;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: #d18755;
}
#top-cards .container{
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #d18755;
    font-weight: bold;
    border-bottom: 2px solid #d18755;
}
#container2{
    margin-top: 50px;
}
#menu .card{
    box-shadow: rgba(149,157,165,0.2) 0px 8px 24px;
}
.star i{
    color: #d18755;
}
#menu h3{
    text-align: center;
    color: #d18755;
    margin-top: 30px;
    font-size: 25px;
}
#menu p{
    font-size: 16px;
    color: #d18755;
    padding-top: 10px;
}
#menu p span{
    float: right;
    cursor: pointer;
}
#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, white 80%, #d18755 20%);
    border-radius: 10px;
}
.heading4{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading4 span{
    color: #d18755;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #d18755;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #d18755;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 400px;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: #d18755;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
    
}